# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [6]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd


bmore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv") 
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv") 
nyc = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
phil = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [11]:
# Clean your data here!
for col in bmore.columns:
    pct_missing = np.mean(bmore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [8]:
bmore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   153 non-null    object
 1   City Name        153 non-null    object
 2   Type             0 non-null      float64
 3   Package          153 non-null    object
 4   Variety          151 non-null    object
 5   Sub Variety      25 non-null     object
 6   Grade            0 non-null      float64
 7   Date             153 non-null    object
 8   Low Price        153 non-null    int64
 9   High Price       153 non-null    float64
 10  Mostly Low       153 non-null    int64
 11  Mostly High      153 non-null    float64
 12  Origin           148 non-null    object
 13  Origin District  0 non-null      float64
 14  Item Size        128 non-null    object
 15  Color            31 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     24 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           153 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(12), int64(2), object(11)
memory usage: 30.0+ KB

In [9]:
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [10]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Type             0 non-null      float64
 3   Package          352 non-null    object
 4   Variety          352 non-null    object
 5   Sub Variety      28 non-null     object
 6   Grade            0 non-null      float64
 7   Date             352 non-null    object
 8   Low Price        352 non-null    int64
 9   High Price       352 non-null    int64
 10  Mostly Low       352 non-null    int64
 11  Mostly High      352 non-null    int64
 12  Origin           352 non-null    object
 13  Origin District  66 non-null     object
 14  Item Size        348 non-null    object
 15  Color            304 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     46 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           352 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 68.9+ KB

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [56]:
# Combine the four dataframes into one!

# >>> I was leading the group and screensharing when I lost wifi connection, so this is as far as I got <<<

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [57]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!